body{
    margin: 0;
}

canvas{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#score-bar{
    position: absolute;
}
#score{
    margin: auto 0;
    font-size: 52px;
    background-color: #004346;
    color: #75DDDD;
    /* text-align: left; */
    position: absolute;
    left: 2vw;
    top: 2vh;
}
#name{
    margin: auto 0;
    font-size: 52px;
    background-color: #004346;
    color: #75DDDD;
    /* text-align: center; */
    position: absolute;
    left: 41vw;
    top: 2vh;
}
#max_score{
    font-size: 52px;
    background-color: #004346;
    color: #75DDDD;
    position: absolute;
    right: 2vw;
    top: 2vh;
    /* text-align: right; */
}