body{
    margin: 0;
}

canvas{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#score-bar{
    
    position: absolute;
}
#score{
    margin: auto 0;
    font-size: 42px;
    font-family: Helvetica, sans-serif;
    background-color: #004346;
    color: snow;
    position: absolute;
    left: 2vw;
    top: 2.5vh;
}
#name{
    font-family: Helvetica, sans-serif;
    margin: auto 0;
    font-size: 52px;
    background-color: #004346;
    color: snow;
    position: absolute;
    left: 41vw;
    top: 2vh;
}
#max_score{
    font-family: Helvetica, sans-serif;
    font-size: 42px;
    background-color: #004346;
    color: snow;
    position: absolute;
    right: 2vw;
    top: 2.5vh;
}
#track{
    font-family: Helvetica, sans-serif;
    margin: auto 0;
    font-size: 52px;
    background-color: #004346;
    color: snow;
    position: absolute;
    left: 48vw;
    bottom: 2vh;
}